VAULT_PATH="/vault_code"
VAULT_OS_PATH="../vault_diploma"
TARGET="Куприянов_И221_диплом.tex"
PDF_ARCHIVE_REPOSITORY="ethercod3/diploma-pdf-archive"
PDF_ARCHIVE_BRANCH="main"
DIPLOMA_CODE_REPOSITORY="ethercod3/diploma_code"
BACKUP_RCLONE_DESTINATIONS="gdrive:diploma_latex_backups,ydisk:diploma_latex_backups"
BACKUP_KEEP_WEEKS="30"
STIRLING_ADMIN_PASSWORD="stirling"
