[[% if code_listing_mode == 'external' %]]
PROJECT_SOURCE_PATH="[[ project_source_path ]]"
PROJECT_SOURCE_OS_PATH="[[ project_source_os_path ]]"
[[% endif %]]
TARGET="[[ main_tex_filename ]]"
PDF_ARCHIVE_REPOSITORY="[[ pdf_archive_repository ]]"
PDF_ARCHIVE_BRANCH="main"
[[% if include_ci and code_listing_mode == 'external' and fetch_project_code_in_ci %]]
DIPLOMA_CODE_REPOSITORY="[[ project_code_repository ]]"
[[% endif %]]
BACKUP_RCLONE_DESTINATIONS="gdrive:diploma_template_backups,ydisk:diploma_template_backups"
BACKUP_KEEP_WEEKS="30"
STIRLING_ADMIN_PASSWORD="stirling"
