*.pdf
*.log
*.out
*.aux
*.zip
*.rar
*.toc
*.lof
*.lot
*.gz
_minted
*.bkp
*.minted
$*.docx
*latexmk
*.fls
.env
.aux_files
.aux_files_docker
.venv
__pycache__/
*.pyc
node_modules/
.pdf_diff
docs-book/theme/tabs.css
docs-book/theme/tabs.js
docs-book/book/
~$*.docx
*.run.xml
*.blg
*.bcf
*.bbl
