*.pdf
*.log
*.out
*.aux
*.zip
*.rar
*.toc
*.lof
*.lot
*.gz
_minted
*.bkp
*.minted
$*.docx
*latexmk
*.fls
.env
.aux_files
.aux_files_docker
.venv
__pycache__/
*.pyc
node_modules/
.pdf_diff
docs-site/
~$*.docx
*.run.xml
*.blg
*.bcf
*.bbl
*.exe
.cache
.coverage
coverage.xml
htmlcov/
dnevnik.md
pdf_diff/