\begin{python}
import secrets
build_id = secrets.token_hex(4)
\end{python}

\hypersetup{
    pdftitle={[[ project_name ]]},
    pdfauthor={[[ author_last_name ]]},
    pdfsubject={[[ project_name ]]},
    pdfkeywords={[[ thesis_keywords ]]},
    pdfcreator={LuaLaTeX},
    pdfproducer={TeX Live. Build id: \py{build_id}}
}
